docs/n8n-workflow-template.json
{
  "name": "AvatarLab WhatsApp Chatbot Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, 300],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.media.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.media.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.media.type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.media.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [600, 300],
      "id": "switch-node",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "imageUrls": "={{ $json.body.media.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [800, 100],
      "id": "analyze-image-node",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.media.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200],
      "id": "get-audio-node",
      "name": "Get Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1000, 200],
      "id": "transcribe-node",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "documentUrls": "={{ $json.body.media.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [800, 400],
      "id": "analyze-document-node",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "videoUrls": "={{ $('Webhook').item.json.body.media.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [800, 500],
      "id": "analyze-video-node",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combined: Merge Analysis + Prepare for AI Agent\n// This single node replaces both \"Code in JavaScript\" and \"Extract WhatsApp Data\"\n\nconsole.log('=== Processing WhatsApp Message ===');\n\n// Get ALL inputs (from media analysis nodes)\nconst allInputs = $input.all();\nconsole.log('Total inputs received:', allInputs.length);\n\n// Helper function to extract analysis text from various formats\nfunction extractAnalysisText(data) {\n  if (Array.isArray(data)) data = data[0];\n  if (!data) return null;\n  \n  // OpenAI format: { content: [{ text: \"...\" }] }\n  if (data.content && Array.isArray(data.content)) {\n    const textParts = data.content.filter(item => item.text && item.text.length > 10);\n    if (textParts.length > 0) return textParts.map(item => item.text).join('\\n\\n');\n  }\n  \n  // OpenAI annotations: { annotations: [{ text: \"...\" }] }\n  if (data.annotations && Array.isArray(data.annotations)) {\n    const textAnnotations = data.annotations.filter(a => a.text && a.text.length > 10);\n    if (textAnnotations.length > 0) return textAnnotations.map(a => a.text).join('\\n\\n');\n  }\n  \n  // Gemini format: { content: { parts: [{ text: \"...\" }] } }\n  if (data.content?.parts?.[0]?.text) return data.content.parts[0].text;\n  \n  // Gemini candidates: { candidates: [{ content: { parts: [...] } }] }\n  if (data.candidates?.[0]?.content?.parts?.[0]?.text) {\n    return data.candidates[0].content.parts[0].text;\n  }\n  \n  // Whisper/Transcription: { text: \"...\" }\n  if (data.text && typeof data.text === 'string' && data.text.length > 10) return data.text;\n  \n  // Message field\n  if (data.message && typeof data.message === 'string' && data.message.length > 10) return data.message;\n  \n  // Direct string\n  if (typeof data === 'string' && data.length > 10) return data;\n  \n  return null;\n}\n\n// Step 1: Find analysis result from inputs\nlet analysisText = null;\nfor (const item of allInputs) {\n  const extracted = extractAnalysisText(item.json);\n  if (extracted) {\n    analysisText = extracted;\n    console.log('Analysis found, length:', analysisText.length);\n    break;\n  }\n}\n\n// Step 2: Get original webhook data\nlet webhookData = null;\ntry {\n  webhookData = $('Webhook').first().json;\n} catch (e) {\n  // Fallback: find webhook in inputs\n  for (const item of allInputs) {\n    const json = Array.isArray(item.json) ? item.json[0] : item.json;\n    if (json?.body?.from_number) {\n      webhookData = json;\n      break;\n    }\n  }\n}\n\nif (!webhookData?.body) {\n  throw new Error('No webhook data found');\n}\n\nconst body = webhookData.body;\nconst mediaType = body.media?.type || 'text';\nconst chatbot = body.chatbot || {};\nconst api = body.api || {};\n\n// Step 3: Determine final message\nlet message = body.message || '';\nlet wasAnalyzed = false;\n\nif (analysisText) {\n  message = analysisText;\n  wasAnalyzed = true;\n} else if (mediaType !== 'text') {\n  message = body.message || '[Media received]';\n}\n\n// Step 4: Enhance message with media context\nlet chatInput = message;\nif (wasAnalyzed && mediaType !== 'text') {\n  const labels = { image: 'Image', audio: 'Audio', video: 'Video', document: 'Document' };\n  chatInput = `[${labels[mediaType] || 'Media'} Analysis]\\n${message}`;\n  \n  if (body.message && body.message !== '[Media file]') {\n    chatInput += `\\n\\n[User's caption: ${body.message}]`;\n  }\n}\n\n// Step 5: Create contact for session management\nconst fromNumber = body.from_number || 'unknown';\nconst contact = {\n  id: fromNumber.replace(/[^0-9]/g, ''),\n  phone: fromNumber,\n  name: fromNumber\n};\n\nconsole.log('Message:', chatInput.substring(0, 100));\nconsole.log('From:', fromNumber);\nconsole.log('Chatbot:', chatbot.name, '| ID:', chatbot.id);\nconsole.log('Media:', mediaType, '| Analyzed:', wasAnalyzed);\n\n// Return formatted data for AI Agent\nreturn {\n  json: {\n    // AI Agent input\n    chatInput: chatInput,\n    \n    // Contact for memory session\n    contact: contact,\n    phone: fromNumber,\n    \n    // Chatbot config\n    chatbotConfig: {\n      id: chatbot.id,\n      name: chatbot.name || 'Assistant',\n      company: chatbot.company_name || '',\n      industry: chatbot.industry || '',\n      systemPrompt: chatbot.system_prompt || 'You are a helpful AI assistant.',\n      businessContext: chatbot.business_context || '',\n      complianceRules: chatbot.compliance_rules || [],\n      responseGuidelines: chatbot.response_guidelines || [],\n      promptVersion: chatbot.prompt_version || null\n    },\n    \n    // API config for tools\n    apiConfig: {\n      baseUrl: api.base_url || 'https://xatrtqdgghanwdujyhkq.supabase.co/functions/v1',\n      chatbotId: chatbot.id\n    },\n    \n    // Metadata\n    timestamp: new Date().toISOString(),\n    messageType: mediaType,\n    wasMediaAnalyzed: wasAnalyzed,\n    sessionId: `whatsapp_${contact.id}_${Date.now()}`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "extract-data-node",
      "name": "Extract WhatsApp Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "systemPrompt",
              "name": "systemPrompt",
              "value": "={{ $json.chatbotConfig.systemPrompt }}",
              "type": "string"
            },
            {
              "id": "businessContext",
              "name": "businessContext",
              "value": "={{ $json.chatbotConfig.businessContext }}",
              "type": "string"
            },
            {
              "id": "chatbotId",
              "name": "chatbotId",
              "value": "={{ $json.chatbotConfig.id }}",
              "type": "string"
            },
            {
              "id": "platformApiKey",
              "name": "platformApiKey",
              "value": "YOUR_PLATFORM_API_KEY",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "workflow-config-node",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Current date and time: {{ $now.toISO() }}\n\n{{ $json.systemPrompt }}\n\nBUSINESS CONTEXT:\n{{ $json.businessContext }}\n\n{{ $json.chatbotConfig?.complianceRules?.length > 0 ? 'COMPLIANCE RULES:\\n' + $json.chatbotConfig.complianceRules.map(r => '- ' + r).join('\\n') : '' }}\n\n{{ $json.chatbotConfig?.responseGuidelines?.length > 0 ? 'RESPONSE GUIDELINES:\\n' + $json.chatbotConfig.responseGuidelines.map(g => '- ' + g).join('\\n') : '' }}\n\nCONVERSATION CONTEXT:\nPrevious messages are tracked automatically via memory. Do not repeat answering same questions.\n\nAPI TOOLS - WHEN TO USE EACH TOOL\n\nYou have access to these tools. USE THEM when relevant:\n\nbrowse_catalog - Get FULL product catalog (RECOMMENDED)\n  USE WHEN: Customer asks about products, what you sell, categories, prices, stock, or wants to browse\n  HOW: Just call it - no parameters needed. Returns ALL products grouped by category.\n  RETURNS: products_by_category (grouped), all_products (list), categories, total_products\n  Each product has: name, original_price, sale_price (if promotion), has_discount, discount_display, image_url\n  IMPORTANT: Use YOUR intelligence to match user requests to products!\n  Example: Customer asks \"phones\" -> browse catalog -> find iPhone, Samsung, etc. -> recommend them\n  If has_discount is true, ALWAYS show the sale_price: \"iPhone 15 - Was RM5999, Now RM5399 (10% OFF)\"\n\nget_promotions - Get active promotions\n  USE WHEN: Customer asks about discounts, offers, sales\n  HOW: Just call it - no parameters needed\n  RETURNS: List of active promotions with discount details\n\nvalidate_promo - Validate a promo code\n  USE WHEN: Customer gives you a promo code to check\n  HOW: Pass the promo code to validate\n  RETURNS: Whether code is valid + discount details\n\nget_knowledge - Get knowledge base files and content\n  USE WHEN: Customer asks questions about company, policies, procedures\n  HOW: Just call it - returns all files with download URLs and content chunks\n  RETURNS: Files with download_url + all text chunks grouped by file\n  IMPORTANT: If customer asks for a document, share the download_url from the response!\n\nread_webpage - Read content from a URL\n  USE WHEN: Customer sends a link/URL\n  HOW: Pass the URL to read\n  RETURNS: Webpage content as text\n\nWHATSAPP MESSAGE FORMATTING RULES\n\n1. You are chatting via WhatsApp - keep responses concise and mobile-friendly\n2. Use \"||\" (double pipe) as delimiter between sentences to split messages\n3. NEVER use \\n\\n or double line breaks\n4. NEVER include image URLs or markdown in your reply text\n5. Use emojis sparingly and only when appropriate\n6. If discussing products, USE the browse_catalog tool first!\n7. If customer asks questions, USE the get_knowledge tool first!\n\nRESPONSE FORMAT (STRICT JSON ONLY)\n\nYou MUST respond in this EXACT JSON format:\n\n{\n  \"reply\": \"Your text response using || as delimiter\",\n  \"images\": [],\n  \"documents\": []\n}\n\nWHAT NOT TO DO IN REPLY:\n- Don't write image URLs in the reply text\n- Don't use \\n\\n or double line breaks\n- Don't include any URLs in the reply text\n\nWHAT TO DO IN REPLY:\n- Use || to separate sentences: \"Sentence 1 || Sentence 2\"\n- Keep reply as clean text only\n- Put image URLs in the separate \"images\" array\n\nHOW TO USE PRODUCT IMAGES\n\nWhen browse_catalog returns products with image_url:\n1. Describe the product in your reply text\n2. Add the image_url to the images array\n\nExample response after calling browse_catalog:\n{\n  \"reply\": \"Sure! || Here's the Samsung Galaxy S24 Ultra. It has a 200MP camera and 6.8-inch display. || Price is RM 4769 (was RM 5299 - 10% OFF!)\",\n  \"images\": [\n    {\n      \"url\": \"https://storage.supabase.co/.../samsung.jpg\",\n      \"caption\": \"Samsung Galaxy S24 Ultra - RM 4769 (10% OFF)\"\n    }\n  ],\n  \"documents\": []\n}\n\nIMPORTANT - HANDLING PRICES WITH PROMOTIONS:\n- Products may have active promotions automatically applied\n- If has_discount = true, use sale_price (not original_price)\n- Always mention the discount: \"Was RM X, Now RM Y (discount_display)\"\n- If customer asks about promotions, show the discounted prices\n\nHOW TO SEND DOCUMENTS\n\nWhen get_knowledge returns files with download_url:\n1. Answer the question using the chunk content\n2. If customer wants the actual document, add it to documents array\n\nExample response:\n{\n  \"reply\": \"Our return policy allows returns within 14 days. || I'm sending you the full policy document.\",\n  \"images\": [],\n  \"documents\": [\n    {\n      \"url\": \"https://storage.supabase.co/.../Return_Policy.pdf\",\n      \"fileName\": \"Return Policy.pdf\",\n      \"caption\": \"Return Policy Document\"\n    }\n  ]\n}\n\nNow respond to the customer's message in the correct JSON format.\n"
        }
      },
      "id": "ai-agent-node",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "openai-chat-model-node",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1500, 500],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Configuration').item.json.chatbotConfig.id }}_{{ $('Workflow Configuration').item.json.contact.id }}",
        "tableName": "n8n_chat_history",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1650, 500],
      "id": "postgres-memory-node",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Database"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "RECOMMENDED: Get the COMPLETE product catalog with ALL items grouped by category. USE THIS FIRST when customer asks about products, what you sell, categories, or wants to browse. Returns: products_by_category (grouped), all_products (flat list), categories, total_products. Each product has: name, original_price, sale_price (if promotion), has_discount, discount_display, image_url. Use YOUR intelligence to match user requests to relevant products. Example: 'phones' -> look for iPhone, Samsung, etc.",
        "url": "https://xatrtqdgghanwdujyhkq.supabase.co/functions/v1/chatbot-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "catalog"
            },
            {
              "name": "chatbot_id",
              "value": "={{ $('Workflow Configuration').item.json.chatbotId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhdHJ0cWRnZ2hhbndkdWp5aGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NjE1MzEsImV4cCI6MjA3NDUzNzUzMX0.sniz2dGyadAa3BvZJ2Omi6thtVWuqMjTFFdM1H_zWAA"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Workflow Configuration').item.json.platformApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1750, 500],
      "id": "browse-catalog-node",
      "name": "browse_catalog"
    },
    {
      "parameters": {
        "toolDescription": "Get all active promotions and discounts. Use when customer asks about offers, discounts, sales, or promotions. No parameters needed.",
        "url": "https://xatrtqdgghanwdujyhkq.supabase.co/functions/v1/chatbot-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "promotions"
            },
            {
              "name": "chatbot_id",
              "value": "={{ $('Workflow Configuration').item.json.chatbotId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhdHJ0cWRnZ2hhbndkdWp5aGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NjE1MzEsImV4cCI6MjA3NDUzNzUzMX0.sniz2dGyadAa3BvZJ2Omi6thtVWuqMjTFFdM1H_zWAA"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Workflow Configuration').item.json.platformApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1850, 500],
      "id": "get-promotions-node",
      "name": "get_promotions"
    },
    {
      "parameters": {
        "toolDescription": "Validate a promo code. Use when customer provides a promo code to check if it's valid. Returns whether the code is valid and the discount details.",
        "url": "https://xatrtqdgghanwdujyhkq.supabase.co/functions/v1/chatbot-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "validate_promo"
            },
            {
              "name": "chatbot_id",
              "value": "={{ $('Workflow Configuration').item.json.chatbotId }}"
            },
            {
              "name": "promo_code",
              "value": "={{ $fromAI('promo_code', 'The promo code to validate (e.g., SAVE20, DISCOUNT10)', 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhdHJ0cWRnZ2hhbndkdWp5aGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NjE1MzEsImV4cCI6MjA3NDUzNzUzMX0.sniz2dGyadAa3BvZJ2Omi6thtVWuqMjTFFdM1H_zWAA"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Workflow Configuration').item.json.platformApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1950, 500],
      "id": "validate-promo-node",
      "name": "validate_promo"
    },
    {
      "parameters": {
        "toolDescription": "Get knowledge base files and content. Use when customer asks about company policies, procedures, documentation, or general questions that need reference material. Returns all PDF files with download URLs and all text chunks grouped by file. Share the download_url with customers when they need the actual document.",
        "url": "https://xatrtqdgghanwdujyhkq.supabase.co/functions/v1/chatbot-data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "knowledge"
            },
            {
              "name": "chatbot_id",
              "value": "={{ $('Workflow Configuration').item.json.chatbotId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhhdHJ0cWRnZ2hhbndkdWp5aGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NjE1MzEsImV4cCI6MjA3NDUzNzUzMX0.sniz2dGyadAa3BvZJ2Omi6thtVWuqMjTFFdM1H_zWAA"
            },
            {
              "name": "x-api-key",
              "value": "={{ $('Workflow Configuration').item.json.platformApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [2050, 500],
      "id": "get-knowledge-node",
      "name": "get_knowledge"
    },
    {
      "parameters": {
        "toolDescription": "Read content from a URL when customer sends a link. Use when customer shares any URL/link.",
        "url": "=https://r.jina.ai/{{ $fromAI('url', 'The URL to read', 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [2150, 500],
      "id": "read-webpage-node",
      "name": "read_webpage"
    },
    {
      "parameters": {
        "jsCode": "// Format AI Agent output for WhatsApp webhook response\nconst inputData = $input.first().json;\n\nconsole.log('=== Formatting AI Response ===');\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Extract AI response - try multiple possible fields\nlet aiResponse = '';\n\nif (inputData.output) {\n  aiResponse = inputData.output;\n} else if (inputData.text) {\n  aiResponse = inputData.text;\n} else if (inputData.response) {\n  aiResponse = inputData.response;\n} else if (inputData.content) {\n  aiResponse = inputData.content;\n} else if (typeof inputData === 'string') {\n  aiResponse = inputData;\n} else {\n  // Fallback: stringify the whole object\n  aiResponse = 'I\\'m sorry, I\\'m having trouble generating a response right now. Please try again.';\n  console.log('Warning: Could not extract AI response from:', inputData);\n}\n\n// Clean up response\naiResponse = String(aiResponse).trim();\n\nconsole.log('Raw AI Response:', aiResponse.substring(0, 200) + '...');\n\n// Try to parse as JSON if it looks like JSON\nlet reply = aiResponse;\nlet images = [];\nlet documents = [];\n\nif (aiResponse.startsWith('{') || aiResponse.startsWith('[')) {\n  try {\n    const parsed = JSON.parse(aiResponse);\n    console.log('Successfully parsed AI response as JSON');\n\n    // Extract reply, images, and documents from parsed JSON\n    reply = parsed.reply || parsed.response || parsed.message || parsed.text || aiResponse;\n    images = parsed.images || [];\n    documents = parsed.documents || [];\n\n    console.log('Extracted reply:', reply.substring(0, 100));\n    console.log('Extracted images:', images.length, 'image(s)');\n    console.log('Extracted documents:', documents.length, 'document(s)');\n  } catch (e) {\n    console.log('AI response is not valid JSON, using as-is');\n    // Not JSON, use the raw response\n  }\n}\n\n// Return in the format expected by WhatsApp service\nreturn {\n  json: {\n    reply: reply,\n    images: images,\n    documents: documents\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300],
      "id": "format-response-node",
      "name": "Format for WhatsApp"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Format for WhatsApp').first().json }}",
        "options": {}
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format for WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "browse_catalog": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_promotions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validate_promo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "read_webpage": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format for WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": []
}
